<div
  *ngIf="!!spacingFromLeft"
  [ngStyle]="{ width: spacingFromLeft.toString() + 'in' }"
  style="display: inline-block; height: 12px"
></div>

<span
  #thistext
  [contentEditable]="editable"
  id="line-{{ index }}"
  (mousedown)="editable = true; isMouseDown = true"
  (mouseup)="handleMouseUp()"
  (blur)="editable = false"
  (focus)="editable = true"
  (mousemove)="makeHighlightable()"
  (keydown)="handleKeyPress($event)"
  [class]="textType + ' screenplay'"
  [textContent]="model"
  (input)="updateModel()"
>
</span>
<br />
<!-- expected behavior when keydown: -->
<!-- if full text of a working text component is highlighted, delete it -->
<!-- if partial text is highlighted, delete that text but leave the unhighlighted text -->
<!-- begin text insertion at start of selection -->
